{{> head}}

    <!-- Aqui renderizamos el navbar con hbs, esto es gracias a los parciales -->
    {{> navbar }}

        <div class="col-md-8">
            <h1>About Page</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dolorum voluptates ratione tenetur recusandae quod enim harum molestias ut consectetur! Neque a blanditiis impedit voluptatum officia est odit quibusdam nobis.
            </p>
        </div>

        <div class="col-md-4">
            <img src="assets/img/descarga.jpg" class="img-thumbnail">
        </div>

    {{> footer }}